{% extends 'blog/base.html' %}

{% block content %}

<main role="main" class="inner cover">
    <form id="form" class="needs-validation" method="POST" novalidate>
        {% csrf_token %}
        <div id="carouselExampleCaptions" class="carousel slide" data-cycle="false" data-interval="false">
            <div class="carousel-inner">
            {% for field in form %}
                {% if forloop.counter == 1 %}
                    <div class="carousel-item active">
                {% else %}
                    <div class="carousel-item">
                {% endif %}
                    <div id={{ field.name }} class="inner cover">
                        <nav class="nav">
                            <ul class="nav justify-content-left">
                                <li class="nav-item">
                                {% if field.name == 'skolko' %}
                                    <p class="lead">
                                    <a class="nav-link active" href="/" role="button">
                                        <button type="button" class="btn btn-secondary btn-sm">На главную</button>
                                    </a>
                                    </p>
                                {% else %}
                                    <a class="nav-link active" href="#carouselExampleCaptions" role="button" data-slide="prev">
                                        <button type="button" class="btn btn-secondary btn-sm">Назад</button>
                                    </a>
                                {% endif %}
                                </li>
                            </ul>
                        </nav>
                        <h2 class="lead">Шаг {{forloop.counter}}/{{form.fields|length}}</h2>
                        <p class="lead">
                            <h1 class="cover-heading">{{field.field.label}}</h1>
                            <h5 class="form-text text-muted">{{ field.help_text }}</h5>
                            <br/>
                            <table align="center" class="lead" id={{field.auto_id}}>
                                {% for choice in field.field.choices %}
                                <tr align="center" class="lead">
                                    <td class="lead">
                                            {% if field.name == 'komu' %}
                                                <div class="custom-control custom-checkbox" required>
                                                    <input type="checkbox" class="custom-control-input" name={{field.name}} value={{choice.0}} id={{field.auto_id}}_{{ forloop.counter }}>
                                                    <label class="custom-control-label" for="{{field.auto_id}}_{{ forloop.counter }}"> {{choice.1}}</label>
                                                </div>
                                            {% else %}
                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" name={{field.name}} value={{choice.0}} id={{field.auto_id}}_{{ forloop.counter }} required>
                                                    <label class="custom-control-label" for="{{field.auto_id}}_{{ forloop.counter }}"> {{choice.1}}</label>
                                                </div>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% if field.name == 'name' %}
                                    <tr align="center" class="lead">
                                        <td class="lead">
                                            <input class="form-control" type="text" name="name" id="id_name_input" maxlength="200" placeholder="Данила" required>
                                        </td>
                                    </tr>
                                {% elif field.name == 'phone' %}
                                    <tr align="center" class="lead">
                                        <td class="lead">
                                            <input class="form-control" type="tel" name="phone" id="id_phone" placeholder="+79214447344" required>
                                            <div class="invalid-feedback">
                                                Без этого, к сожалению, мы не сможем рассчитать стоимость...
                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}
                            </table>
                            <br>
                        </p>    
                    </div>
                    {% if field.name == 'phone' %}
                        <div>
                            <button id="send-form-btn" class="btn btn-secondary btn-lg" type="submit" disabled="true">Сохранить</button>
                        </div>
                    {% else %}
                            <span id="{{ field.name }}-next-popover"
                            data-container="body" data-toggle="popover" data-placement="top"
                            data-content="Для перехода к следующему шагу, необходимо ответить на этот вопрос"
                            >
                                <button
                                    type="button"
                                    href="#carouselExampleCaptions"
                                    style="pointer-events: none;"
                                    data-slide="next"
                                    id="next-{{ field.name }}-btn"
                                    class="btn btn-secondary btn-lg" 
                                    disabled
                                    >
                                    Дальше
                                </button>
                            </span>
                    {% endif %}
                </div>

                <!-- Добавить в отображение текущей формы -->
            <div id='alert' style="display: none" class="alert alert-dark" role="alert">
                Ответ на данный вопрос обезателен для определения стоимости банкротства !
              Если вы затрудняетесь ответить - воспользуйтесь нашим бесплатным сервисом проверки долгов !
                <button id="alert-close-btn" type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

<footer class="mastfoot mt-auto">
    <div class="inner">
    <p>Заполняя формы вы принимаете<a href="/regulation"> Положение</a> о конфидециальности и <a href="https://twitter.com/MasterInManage">Согласие</a> на обработку персональных данных</p>
    </div>
</footer>

{% load staticfiles %}
<script type="text/javascript" src="{% static 'blog/js/form.js' %}"></script>
{% endblock %}