{% extends 'blog/base.html' %}

{% block content %}

  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Банкрот</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Главная</a>
        <a class="nav-link" href="#">Функия</a>
        <a class="nav-link" href="#">Контакты</a>
      </nav>
    </div>
  </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Благодарим за ваши ответы.</h1>
        <p class="lead"> {{ id }} </p>
        <p class="lead"> Наши специалисты незамедлительно с вами свяжутся.</p>
        <p class="lead">
          <a href="/procedury" class="btn btn-lg btn-secondary">Узнать о нас</a>
        </p>

      </main>

{% endblock %}